<!-- 都道府県検索結果の表示 -->
<%# if false %>
<div id="result-search">
    <% @prefectures.each do |prefecture| %>
        <%= prefecture.name %>
    <% end %>
</div>

<div id="another-result" class="another-sky">

    <% if false %>
    <% @prefectures.each do |prefecture| %>
        <%= prefecture.name %>
    <% end %>
    <% end %>
</div>

<%#= @prefectures.name %>

<%#= @prefectures.name %>